# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual env
.venv/
env/
venv/

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Tests / tooling
.pytest_cache/
.mypy_cache/

# Env / Secrets
.env
.env.*
!.env.example

# Coverage
htmlcov/
.coverage
.coverage.*

# Build / dist
build/
dist/
*.egg-info/

